* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
  li {
    list-style: none;
  }
  .gradient__bg {
  background: rgb(109, 103, 190);
  background: -moz-linear-gradient(60deg, rgba(50,49,66,1) 0%, rgba(104,118,237,1) 35%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(60deg, rgba(50,49,66,1) 0%, rgba(104,118,237,1) 35%, rgba(0,212,255,1) 100%);
  background: linear-gradient(60deg, rgba(50,49,66,1) 0%, rgba(104,118,237,1) 35%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323142",endColorstr="#00d4ff",GradientType=1);
  }